* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(197, 231, 240, 0.712);
}
header {
    padding: 20px 35px;
    background-color: #056669;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 9999;
}
header h1 {
    padding: 10px 20px;
    background-color: #20485c;
    font-size: 38px;
    left: 100px;
    color:white;
}
header nav {
    margin: 7px 0;
}
header a {
    text-decoration: none;
    color: #87b8d1;
}

header nav ul  {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.2vw;
    margin-left: 25px;
}
header nav ul li a:hover {
    background-color: white;
    color:#20485c ;

}
.about-me {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about{
    display: flex;
    flex-wrap: wrap;
    flex: 1 50%;
    font-size: 22px;
    padding-left: 50px;
    border-left: 5px solid #20495d;
}
.about img{
   border: 3px solid #20495d;
   flex-wrap:initial;
  
}
.title {
    font-size: 42px;
    text-align: right;
    padding-right: 30px;
    margin-bottom: 40px;
}

.work-section {
    padding-bottom: 50px;
    width: 80%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-column {
    width: 25%;
    border-right: 3px solid rgb(9, 92, 117);
}

.surf-report {
    height: 500px;
    border: 3px solid rgb(9, 92, 117);
    position: relative;
    background-image: url(../images/coming-soon-store-placeholder-image.gif);
    background-size: cover;
}

.report-info {
    bottom: 50px;
    position:absolute;
    padding: 10px;
    background-color: #20495d;
}
.report-info1 {
    bottom: 20px;
    position:absolute;
    padding: 10px;
    background-color: #20495d;
}
.projects {
 width: 70%;
}

.flex-row {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.led-wall {
    flex: 0.5;
    height: 100px;
    border: 3px solid #20495d;
    position: relative;
    background-image: url(../images/coming-soon-store-placeholder-image.gif);
    margin:10px;
    background-size: contain;
}

.calculator {
    flex: 0.5;
    height: 100px;
    border: 3px solid #20495d;
    position: relative;
    background-image: url(../images/coming-soon-store-placeholder-image.gif);
    margin: 10px;
    background-size: contain;
}

.pastel {
    flex: 0.5;
    height: 100px;
    border: 3px solid #20495d;
    position: relative;
    background-image: url(../images/coming-soon-store-placeholder-image.gif);
    margin: 10px;
    background-size:contain;
}

.run {
    flex:0.5;
    height: 100px;
    border: 3px solid #20495d;
    position: relative;
    background-image: url(../images/RunBuddy.JPG);
    margin: 10px;
    background-size: cover;
}


footer {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    margin: 10px;
    border-bottom: 2px solid #20495d;
    flex: 1;
    font-size: 28px;
}
